# MOD_DEFLATE COMPRESSION
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/x-httpd-php
#Pour les navigateurs incompatibles
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
#ne pas mettre en cache si ces fichiers le sont déjà
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
#les proxies doivent donner le bon contenu
Header append Vary User-Agent env=!dont-vary

IfModule mod_expires.c>
  Expire Actif le

  # Images
  ExpiresByType image / jpeg "accès plus 1 an"
  ExpiresByType image / gif "accès plus 1 an"
  ExpiresByType image / png "accès plus 1 an"
  ExpiresByType image / webp "accès plus 1 an"
  ExpiresByType image / svg + xml "accès plus 1 an"
  ExpiresByType image / x-icon "accès plus 1 an"

  # Vidéo
  ExpiresByType video / webm "accès plus 1 an"
  ExpiresByType video / mp4 "accès plus 1 an"
  ExpiresByType video / mpeg "accès plus 1 an"

  # Polices
  ExpiresByType font / ttf "accès plus 1 an"
  ExpiresByType font / otf "accès plus 1 an"
  ExpiresByType font / woff "accès plus 1 an"
  ExpiresByType font / woff2 "accès plus 1 an"
  ExpiresByType application / font-woff "accès plus 1 an"

  # CSS, JavaScript
  ExpiresByType text / css "accès plus 1 mois"
  ExpiresByType text / javascript "accès plus 1 mois"
  ExpiresByType application / javascript "accès plus 1 mois"

  # Autres
  ExpiresByType application / pdf "accès plus 1 mois"
  ExpiresByType image / vnd.microsoft.icon "accès plus 1 an"
</IfModule>

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
 <FilesMatch "\\.(ico|jpe?g|png|gif|swf|gz|ttf)$">
 Header set Cache-Control "max-age=600, public"
 </FilesMatch>
 <FilesMatch "\\.(css)$">
 Header set Cache-Control "max-age=600, public"
 </FilesMatch>
 <FilesMatch "\\.(js)$">
 Header set Cache-Control "max-age=600, private"
 </FilesMatch>
<filesMatch "\\.(html|htm)$">
Header set Cache-Control "max-age=600, public"
</filesMatch>
# Disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers

# KILL THEM ETAGS
Header unset ETag
FileETag none

# protect wpconfig.php
<files wp-config.php>
order allow,deny
deny from all
</files>

# protect the htaccess file
<files .htaccess>
order allow,deny
deny from all
</files>

# protection de la lecture des répertoires
Options -Indexes

